

.childrenContainer {
    padding-bottom: 30vh;
}
.childrenGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
    color: var(--white-font);
    --child-width: 210px;
    position: relative;
}
.childrenContainer h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 2px solid var(--black-blue);
    padding-bottom: 6px;
}
.foldersGrid, .filesGrid {
    composes: childrenGrid;
}


.child {
    display: grid;
    width: var(--child-width);
    grid-template-columns: 7vh 1fr min-content;
    --transition-time: 0.08s;
    cursor: pointer;
    align-items: center;
    color: var(--dark-font);
    box-sizing: border-box;
    font-size: 0.9rem;
    font-weight: bold;
    gap: 8px;
    height: 11vh;   
    padding: 1vh 1vh 1vh 2vh;
    position: relative;
    border: 1px solid var(--black-blue);
    border-radius: 2vh;
    box-shadow: 0 5px 16px 6px rgba(65, 76, 101, 0.397);
    animation: fadeIn 0.2s ease-out;

    transition: box-shadow var(--transition-time) linear,
                background-position-y 0.2s linear;
    background: linear-gradient(180deg, var(--deep-blue) 55%, var(--black-blue) 60%);
    background-size: 100% 250%;
    background-position-y: 0%;
}

.child:hover {

    box-shadow: 0 5px 16px 4px rgba(61, 117, 228, 0.503);
    background-position-y: 100%;
}

.childText {
    max-width: 15cqw;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.childScaler {
    transition: transform 0.08s linear,box-shadow 0.08s linear,
                background-position-y 0.2s linear;
}
.childScaler:hover {
    transform: scale(1.03);
}

.iconRow {
    display: flex;
    height: 100%;
    align-items: center;
    align-self: flex-end;
    flex-direction: column;
    justify-content: end;
}

.star {
    display: flex;
    align-items: start;
    margin-bottom: auto;
}
.star > img {
    height: 20px;
}

.folderWrapper {
    padding-top: 4px;
    /* border: 1px solid var(--black-blue); */

    padding-right: 0;
    width: var(--child-width);
    border-radius: 2vh;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    background-color: var(--light-blue);
}

.folder {
    height: 12vh;
    composes: child;
}
.file {
    height: 13vh;
    composes: child;
}   


.folderIcon img {
    height: 6vh;
}
.fileIcon {
    height: 6vh;
}

.fileIcon > img {
    height: inherit;
}

.controlsOpenPrio {
    z-index: 9;
}
.modalOpenPrio {
    z-index: 900;
}

/* Applied when modal opens */
.disableTransition {
    transition: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
        transform: scaleY(0.9);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);

    }
}
@keyframes fadeInNormal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    16% {
        transform: rotateZ(10deg);
    }
    32% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}
h2.emptyMessage {
    margin-top: 3vh;
    width: max-content;
    text-shadow: 0px 0px 6px rgb(135, 161, 187);
    
    animation: fadeIn 0.3s linear;
}

.star {
    animation: fadeInNormal 0.2s linear, spin 10s linear alternate-reverse infinite;
}

button.viewDetails {
    display: none;  
    align-items: start;
    margin-bottom: auto;
    padding: 2px;
    background-color: var(--light-blue);
    
}
.file:hover .viewDetails {
    display: flex;
    animation: fadeInNormal 0.3s ease-in forwards ;
    transition: background-color 0.2s ease-out,
        scale 0.2 ease-out;

}
.detailsImg {
    height: 3vh;
}
.file:hover .star {
    display: none;
}
.viewDetails:hover {
    background-color: var(--white-blue);
    scale: 1.03;
}
.viewDetails:active {
    scale: 1.07;
}

.fileImg {
    display: flex;
    align-items: center;
    height: 6vh;
}

.fileImg > img {
    height: 4vh;
}