

.contentbar { 
    position: sticky;
    top: var(--navbar-height);
    grid-area: contentbar;
}

.contentbar {
    display: grid;  
    grid-template-columns: var(--contents-padding-left) minmax(0, 1fr) max-content;
    align-items: center;
    grid-template-rows: var(--contentbar-height);
    overflow: hidden;
    z-index: 99;
    box-sizing: border-box;
    border-bottom: 1px solid var(--black-blue);
    background-color: var(--bg-color);
    padding-right: var(--contents-padding-right);
    box-shadow: 2vh 1vh 10px 2px rgba(16, 15, 80, 0.377);
}



.pathbar {
    display: flex;
    background-color: var(--light-blue);
    letter-spacing: -0.1px;
    padding: 0 10px 0 24px;
    align-items: center;
    justify-content: start;
    overflow: hidden;
    border: black 1px solid;
    border-radius: 5vh;
    height: 6vh;
    padding-right: 5vh;
    width: 630px;
}
.listContainer {
    max-width: 630px;
    display: flex;
    
}
.fadingContainer {
    composes: listContainer;
    width: max-content;
}
.pathbar::before {
    content: '';
    position: absolute;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.291);
    transform: rotateZ(60deg);
    height: 35vh;
    filter: blur(10px);
    animation: shine 8s infinite linear;
    width: 6vh;
    pointer-events: none;
}


.pathbarChild {
    display: flex;
    height: 6vh;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    flex-shrink: 1.3;
    text-wrap: nowrap;
    min-width: max-content;
}
.pbImg {
    height: 2.8vh;
}
.pbText {
    font-size: 2.8vh;
}
.pathbarPath:hover {
    position: relative;
    cursor: pointer;
    background-color: var(--mid-blue);
    border: 2px solid var(--deep-blue);
    color: var(--white-blue);
    scale: 1.03;
}

.pathbarPath { 
    font-size: 3vh;
    transition: color 0.15s linear,
                background-color 0.15s linear,
                border-color 0.15s linear,
                scale 0.15s linear;
    padding: 4px 8px;
    background-color: var(--light-blue);
    box-sizing: border-box;
    border: 2px solid  var(--light-blue);
    border-radius: 1.6vh;
    max-width: 20ch;
    text-overflow: ellipsis;
}

.newButtonsContainer {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-left: 16px;
}



.newFileButton, .newFolderButton {
    background-color: var(--white-blue);
    color: var(--black-blue);
    border: 2px solid var(--mid-blue);
    width: 18vh;
    font-size: 16px;
    --tr-time: 0.15s;
    transition: background-color var(--tr-time) ease-in,
                color var(--tr-time) ease-in,
                scale var(--tr-time) ease-in,
                border var(--tr-time) ease-in
    ;
}

.newFileButton:hover, .newFolderButton:hover {
    background-color: var(--deep-blue);
    border: 2px solid  var(--white-blue);
    color: rgb(226, 244, 249);
}



.backButton {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backButton img{
    height: inherit;
    transition: scale 0.01s ease-in-out;
}
.backButton img:active {
    scale: 1.03;
}

.backButton:hover {
    cursor: pointer;
    scale: 1.03;
}

.fadePath {
    animation: fadeOut 0.2s linear forwards;
    transform-origin: left;
}
.hidden {
    opacity: 0;
    animation: none;
}

.overflowFaded {
    display: none;
}

.overflowElement {
    composes: pathbarChild;
    display: flex;
    height: inherit;
    align-items: center;
}

.overflowTxt {
    margin-left: 10px;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.8);

        opacity: 0;
        display: none;
    }
    
}
