


.contentbar {
    display: flex;
    margin-bottom: 3vh;
    margin-top: 3vh;
    align-items: center;
    overflow: hidden;
}


.pathbar {
    display: flex;
    border-block: 1px solid black;
    background-color: rgb(166, 206, 243);
    letter-spacing: -0.1px;
    padding: 0 10px;
    width: 60%;
    align-items: center;
    overflow: hidden;
}
.pathbarChild {
    display: flex;
    height: 6vh;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    flex-shrink: 1.3;
    text-wrap: nowrap;
    min-width: 0;
}

.pathbarChild > img {
    height: 80%;
}
.pathbarPath { 
    font-size: 3vh;
}

.backButton {
    margin-right: 3vh;
    height: 52px;
}

.backButton img{
    height: inherit;
}