:global(#root) {
    --navbar-height: 10vh;
    --sidebar-width: 23vh;
    --contentbar-height: 10vh;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --contents-padding-left: 10vh;
    --contents-padding-right: 15vh;
}
button {
    padding: 1.5vh 1vh;
    border-radius: 2vh;
    cursor: pointer;
    border: 1px solid black;
    background-color: var(--deep-blue);
    font-weight: bold;
    color: var(--white-font);
}
.drive {
    min-height: var(--sidebar-height);
    width: 100%;
    display: grid   ;
    grid-template-areas: 
        "navbar navbar"
        "sidebar contentbar"
        "sidebar contents" ;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: min-content var(--contentbar-height) max-content;
}

.contentsWrapper {
    padding-inline: var(--contents-padding-left) var(--contents-padding-right);
    overflow: hidden;
    grid-area: contents;
}
.pathbar {
    height: var(--pathbar-height);
    position: sticky;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
    display: inline;
    top: var(--navbar-height);
}

