:global(#root) {
    --navbar-height: 14vh;
    --sidebar-width: 25vh;
    --pathbar-height: 13vh;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
.navbar {   
    position: sticky;
    background-color: aquamarine;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
}
.sidebar {
    display: inline-block;
    position: sticky;
    width: var(--sidebar-width);
    top: var(--navbar-height);
    vertical-align: top;
}
.contentsWrapper {
    display: inline-block;
}

.childrenContainer {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    margin-top: 3vh;
}

.pathbar {
    height: var(--pathbar-height);
    position: sticky;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
    display: inline;
    top: var(--navbar-height);
}

