.driveWrapper {
    --navbar-height: 15vh;
    --sidebar-width: 25vh;
    --pathbar-height: 13vh;
}
.bodyWrapper {
    display: flex;   
}
.navbarShadow {
    height: var(--navbar-height);
}
.navbar {   
    position: fixed;
    background-color: aquamarine;
    top: 0;
    height: var(--navbar-height);
    display: flex;
    width: 100%;
}
.sidebarShadow {
    width: var(--sidebar-width);
}
.sidebar {
    position: fixed;
    width: var(--sidebar-width);
}
.pathbarShadow {
    height: var(--pathbar-height);
    margin-bottom: 10px;
}
.pathbar {
    height: var(--pathbar-height);
    position: fixed;
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    width: 100%;
}



.contentsContainer {
    display: inline-grid;
    grid-template-columns: repeat(5, min-content)
}


