
.cover {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(26, 37, 67, 0.229);
    cursor: default;
}
.cover:hover {
    scale: 1;
}


.newForm {
    border: 2px solid var(--deep-blue);
    background-color: var(--white-blue);
    padding: 20px;
    border-radius: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 40vh;
    width: 60vh;
    z-index: 11;
    display: grid;
    justify-content: center;
    grid-template-rows: min-content 1fr  min-content;
    animation: fadeIn 0.5s;
    box-shadow: 0 40px 80px 10px rgba(255, 255, 255, 0.243);
    gap: 20px;
}

.formHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.fileInputContainer {
    border: 1px solid var(--black-blue);
    border-style: dashed;
    font-size: 1.2rem;  
    position: relative;
    color: var(--black-blue);
    font-weight: bold;
    width: 260px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vh;
    margin-top: 20px;
}
.fileInput {
    position: absolute;
    cursor: pointer;
    width: 100%;
    opacity: 0;
    height: 100%;
}
.textInput {
    height: 4vh;
    width: 320px;
    font-size: 1.2rem;
    margin-top: 4vh;
    border: 1.6px solid var(--deep-blue);
    padding: 8px 12px;
    border-radius: 12px;
    color: var(--black-blue);
}

.newForm label {
    text-align: center;
}
.newFormButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 260px;
    justify-self: center;
}
.newFormButton {
    padding: 8px 12px 8px 8px;
    font-size: 1rem;
    background-color: var(--black-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.confirmImg {
    height: 3vh;
}
.cancelImg {
    height: 4vh;
}
.fadeOut {
    animation: fadeOut 0.2s linear;
    opacity: 0;
}
.headerImg {
    height: 8vh;
}
.freezeScroll {
    position: fixed;
    top: 0;
    left: 0;
}





@keyframes shine {
    0% {
        left: -20%;
    }

    80% {
        left: 100%;
    }
    100% {
        left: 120%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
