.sidebar {
    position: sticky;
    display: inline-flex;
    top: var(--navbar-height);
    flex-direction: column;
    width: var(--sidebar-width);
    box-sizing: border-box;
    vertical-align: top;
    height: var(--sidebar-height);
    background-color: rgb(88, 99, 114);
    background-color: var(--deep-blue);
    gap: 30px;
    align-items: center;
    padding-top: 5vh;
    grid-area: sidebar;
}
.sidebarChild {
    display: grid;
    grid-template-columns: 4vh 80px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: bold;
    color: rgb(237, 240, 243);
    padding-left: 2vh;
    transition: scale 0.01s linear;
}
.sidebarChild:hover {
    scale: 1.05;
    cursor: pointer;
}
.sidebarChild:active {
    scale: 1.1;

}
.sidebarChild img {
    color: rgb(88, 99, 114);
    fill: rgb(212, 216, 221);
    stroke: white;
    height: 4vh;
}
.signOut {
    margin-top: auto;
    margin-bottom: 10vh;
}