.sidebar {
    position: sticky;
    display: inline-flex;
    top: var(--navbar-height);
    flex-direction: column;
    width: var(--sidebar-width);
    box-sizing: border-box;
    vertical-align: top;
    height: var(--sidebar-height);
    background-color: rgb(30, 60, 88);
    gap: 26px;
    align-items: center;
    padding-top: 5vh;
    grid-area: sidebar;
}
.sidebarChild {
    display: grid;
    grid-template-columns: 4vh 80px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    font-weight: bold;
    color: var(--white-font);
    padding-left: 2vh;
    transition: scale 0.01s linear;
    font-size: 15px;
}
.sidebarChild:hover {
    scale: 1.05;
    cursor: pointer;
}
.sidebarChild:active {
    scale: 1.1;

}
.sidebarChild img {
    color: rgb(88, 99, 114);
    fill: rgb(212, 216, 221);
    stroke: white;
    height: 4vh;
}
.signOut {
    margin-top: auto;
    margin-bottom: 10vh;
}

.stored {
    margin-top: 6vh;
}
.stored:hover {
    scale: 1;
    cursor: default;
}
.storedBar {
    height: 12px;
    width: inherit;
    grid-column: 1/3;
    background-color: white;
    border-radius: 6px;
    margin-right: 12px;
    transform: translateX(-5%);
    border: 2px solid var(--mid-blue);
    box-sizing: border-box;

}

.storedProgress {
    border-radius: 6px;
    background-color: var(--mid-blue);
    height: 100%;
}
.storedTxt {
    grid-column: 1/3;
    font-size: 13px;
    text-align: center;
    padding-right: 22px;
}