:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  --white-font: rgb(241, 244, 249);
  --white-blue: rgb(231, 241, 251);
  --light-blue: rgb(166, 206, 243);
  --mid-blue:  rgb(55, 106, 173);
  --deep-blue: rgb(11, 48, 82);
  --black-blue: rgb(13, 23, 38);
  --dark-blue: rgb(35, 38, 42);
  --bg-color: rgba(215, 226, 238, 0.863);

}

html, body {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
:global(#root) {
    --navbar-height: 9vh;
    --sidebar-width: 23vh;
    --pathbar-height: 13vh;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --contents-padding-left: 10vh;
    --contents-padding-right: 15vh;
}
button {
    padding: 1.5vh 1vh;
    border-radius: 2vh;
    cursor: pointer;
    border: 1px solid black;
    background-color: var(--deep-blue);
    font-weight: bold;
    color: var(--white-font);
}