:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --white-font: rgb(237, 240, 243);
  --white-blue: rgb(231, 241, 251);
  --light-blue: rgb(166, 206, 243);
  --mid-blue:  rgb(80, 133, 202);
  --deep-blue: rgb(33, 77, 118);
  --black-blue: rgb(21, 46, 77);

}

html, body {
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
:global(#root) {
    --navbar-height: 9vh;
    --sidebar-width: 23vh;
    --pathbar-height: 13vh;
    --sidebar-height: calc(100vh - var(--navbar-height));
    --contents-padding-left: 10vh;
    --contents-padding-right: 15vh;
}
button {
    padding: 1.5vh 1vh;
    border-radius: 2vh;
    cursor: pointer;
    border: 1px solid black;
    background-color: var(--deep-blue);
    font-weight: bold;
    color: var(--white-font);
}